Options -MultiViews

RewriteEngine On
RewriteBase /project/base/

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ $1 [L,R=301]

RewriteRule ^plugins/(.*)$ static/plugins/$1 [L]
RewriteRule ^(\.env|\.git|artisan)$ - [F]

# Handle Front Controller...
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule .* - [S=2]
RewriteRule ^static/(?!common/)(.*)$ static/common/$1 [L]
RewriteRule ^ index.php [L]
#RewriteRule .* index.php/$0 [PT,L]
#RewriteRule .* index.php [L,E=PATH_INFO:$1]

# Handle Authorization Header
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]