
ul,li{
	list-style: none;
}
/* WebKit browsers */
input::-webkit-input-placeholder {
    color: rgba(0,0,0,0.8);
    font-size: 12px;
}
/* Mozilla Firefox 4 to 18 */
input:-moz-placeholder {
    color: rgba(0,0,0,0.8);
    font-size: 12px;
}
/* Mozilla Firefox 19+ */
input::-moz-placeholder {
    color: rgba(0,0,0,0.8);
    font-size: 12px;
}
/* Internet Explorer 10+ */
input:-ms-input-placeholder {
    color: rgba(0,0,0,0.8);
    font-size: 12px;
}
.officeTop{
	width: 100%;
	height: 24.8rem;
	position: relative;
}
.officeTop_img{
	width: 100%;
	height: 100%;
}
.officeTop_img>img{
	width: 100%;
	height: 100%;
}
.officeTop_1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.9rem;
	background: rgba(0,0,0,0.7);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.officeTop_1>li:nth-of-type(1){
	font-size: 1.4rem;
	color: rgba(255,255,255,1);
	margin-left: 0.8rem;
	margin-right: 0.8rem;
}
.officeTop_1>li:nth-of-type(2){
	font-size: 1.4rem;
	color: rgba(255,255,255,1);
}
.officeTop_1>li:nth-of-type(3){
	width: 2.2rem;
	height: 1.8rem;
	margin-left: 23rem;
	margin-right: -1rem;
}
.officeTop_1>li:nth-of-type(3)>img{
	width: 100%;
	height: 100%;
}
.officebottom{
	position: absolute;
	top: 25rem;
	left: 0.9rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.officebottom>li:nth-of-type(1){
	width: 1.8rem;
	height: 1.8rem;
}
.officebottom>li:nth-of-type(1)>img{
	width: 100%;
	height: 100%;
}
.officebottom>li:nth-of-type(2){
	font-family: PingFangSC-Regular;
	font-size: 1.2rem;
	color: #FFFFFF;
	letter-spacing: -0.22px;
}
.officebottom>li:nth-of-type(3){
	font-family: PingFangSC-Regular;
	font-size: 1.2rem;
	color: #FFFFFF;
	letter-spacing: -0.22px;
	margin-left: 9.6rem;
}
.officeInfor{
	box-sizing: border-box;
	height: 13rem;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	padding-left: 1.6rem;
	padding-right: 1.4rem;
	padding-top: 3.0rem;
	//padding-bottom: 1.5rem;
}
.officeInfor_1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.officeInfor_1>p:nth-of-type(1){
	font-family: PingFangSC-Regular;
	font-size: 1.8rem;
	color: #3A3A3A;
	letter-spacing: -0.5px;
}
.officeInfor_1>p:nth-of-type(2)>span:nth-of-type(1){
	font-family: PingFangSC-Semibold;
	font-size: 1.8rem;
	color: #D0021B;
	letter-spacing: -0.5px;
}
.officeInfor_1>p:nth-of-type(2)>span:nth-of-type(2){
	font-family: PingFangSC-Regular;
	font-size: 1.4rem;
	color: #3A3A3A;
	letter-spacing: -0.39px;
}
.officeInfor_2{
	margin-top: 0.8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.officeInfor_2>p:nth-of-type(1){
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.officeInfor_2>p:nth-of-type(1)>span:nth-of-type(1){
	font-family: PingFangSC-Regular;
	font-size: 1.4rem;
	color: #3A3A3A;
	letter-spacing: -0.54px;
}
.officeInfor_2>p:nth-of-type(1)>span:nth-of-type(2){
	display: block;
	height: 0.8rem;
	width: 1px;
	background: #3A3A3A;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.officeInfor_2>p:nth-of-type(1)>span:nth-of-type(3){
	font-family: PingFangSC-Regular;
	font-size: 1.4rem;
	color: #3A3A3A;
	letter-spacing: -0.54px;
}
.officeInfor_2>p:nth-of-type(2){
	width: 9.4rem;
	height: 2.1rem;
	border-radius: 1.05rem;
	border: 1px solid rgba(0,0,0,0.2);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.officeInfor_2>p:nth-of-type(2)>img{
	width: 1.8rem;
	height: 1.8rem;
	margin-left: 0.8rem;
}
.officeInfor_2>p:nth-of-type(2)>input{
	width: 5rem;
	outline-style: none;
	border: 0;
	margin-left: 0.8rem;
}
.officeInfor_3{
	margin-top: 1.3rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.officeInfor_3>p{
	padding-left: 1rem;
	padding-right: 1rem;
	opacity: 0.27;
	background: #C8C8C8;
	border-radius: 2px;
	font-family: PingFangSC-Regular;
	font-size: 1.2rem;
	color: #3A3A3A;
	letter-spacing: -0.46px;
	margin-right: 1.6rem;
}
/*导航*/
.officeNav{
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.officeNav>li:nth-of-type(2n){
	width: 1px;
	height: 0.8rem;
	background: #3A3A3A;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.argument{
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #3A3A3A;
	letter-spacing: -0.5px;
}
.facility{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #3A3A3A;
	letter-spacing: -0.5px;
}
.floorInf{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #3A3A3A;
	letter-spacing: -0.5px;
}
.rentout{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #3A3A3A;
	letter-spacing: -0.5px;
}
/*楼盘信息*/
.floorArgument>ul{
	width: 34rem;
	height: 3rem;
	margin: 0 auto;
	border-bottom: 1px solid #F6F6F6;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.floorArgument>ul>li{
	width: 48%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.floorArgument>ul>li>p:nth-of-type(1){
	width: 40%;
	font-family: PingFangSC-Regular;
	font-size: 1.2rem;
	color: #3A3A3A;
	letter-spacing: -0.43px;
}
.floorArgument>ul>li>p:nth-of-type(2){
	width: 55%;
	font-family: PingFangSC-Regular;
	font-size: 1.2rem;
	color: #3A3A3A;
	letter-spacing: -0.43px;
}
/*周边设施*/
.floorFacility{
	margin-bottom: 2rem;
}
.floorFacilityTop{
	margin-bottom: 1.7rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.floorFacilityTop>li{
	width: 16%;
	margin-left: 2.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.floorFacilityTop>li:nth-of-type(1){
	margin-left: 0;
}
.floorFacilityTop>li>img{
	width: 1.8rem;
	height: 1.8rem;
}
.floorFacilityTopLiSpan{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #3A3A3A;
	letter-spacing: -0.5px;
}

.floorFacilityTopLiSpanOn {
	width: 16%;
	margin-left: 2.4rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border:2px solid #008000;
	padding: 5px;
}


/*楼层信息*/
.floorInfor_s{
	padding-left: 0.4rem;
	padding-right: 0.4rem;
}
.floorInfor_s_top{
	margin-bottom: 1.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.floorInfor_s_top>img{
	width: 1.8rem;
	height: 1.8rem;
}
.floorInfor_s_top>span{
	font-family: PingFangSC-Regular;
	font-size: 1.2rem;
	color: #3A3A3A;
	letter-spacing: -0.43px;
}
.floorInfor_s_top>span:nth-of-type(1){
	margin-left: 1.3rem;
	margin-right: 4.1rem;
}
.floorInfor_s_top>span:nth-of-type(2){
	margin-left: 1.6rem;
}
.floorInfor_s>ul{
	margin-bottom: 1rem;
	height: 4rem;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.floorInfor_s>ul>li:nth-of-type(1){
	flex-shrink: 0;
	width: 30%;
	display: flex;
	justify-content: space-between;
}
.floorInfor_s>ul>li:nth-of-type(2){
	flex-shrink: 0;
	width: 55%;
}
.floorInfor_s>ul>img{
	width: 0.8rem;
	height: 0.8rem;
}

/*全部待租*/
.floorRentout{
	padding-left: 2.7rem;
	padding-right: 2.7rem;
}
.floorRentout_text{
	text-align: center;
	font-weight: 600;
}
.floorRentoutNav{
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.floorRentoutNav>li{
	width: 20%;
	height: 3rem;
	box-sizing: border-box;
	border-bottom: 1px solid #C3C3C3;
	display: flex;
	justify-content: center;
	align-items: center;
}
.floorRentoutNav>li>span{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #C3C3C3;
	letter-spacing: -0.43px;
}
.floorRentoutNav_s{
	border-bottom: 2px solid #304098 !important;	
}
.floorRentoutNav_s>span{
	color: #304098 !important;
}
.floorRentoutMain{
	box-sizing: border-box;
	height: 6rem;
	border-bottom: 1px solid #F6F6F6;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.floorRentoutMain span{
	font-family: PingFangSC-Regular;
	font-size: 12px;
	color: #3A3A3A;
	letter-spacing: -0.43px;
}
.floorRentoutMain>li:nth-of-type(1){
	flex-shrink: 0;
	width: 40%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.floorRentoutMain>li:nth-of-type(1)>img{
	width: 5.3rem;
	height: 4rem;
}
.floorRentoutMain>li:nth-of-type(2){
	flex-shrink: 0;
	width: 45%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.floorRentoutMain .floorRentoutMainNum{
	font-family: PingFangSC-Semibold;
	font-size: 14px;
	color: #D0021B;
	letter-spacing: -0.5px;
	margin-right: 0.2rem;
}
.current{
	color: #304098;
}

.template {
	width: 61.8%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
	right: 0;
	top: 0;
	z-index: 888;
}
			
.template>div:nth-child(1) {
	height: 6.52rem;
	width: 100%;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: -0.25px;
	text-align: center;
}

.template>div:nth-child(1)>p:nth-child(1) {
	padding-top: 6rem;
}

.template>div:nth-child(1)>p:nth-child(2) {
	padding-top: 2rem;
}
		
.Login>span:nth-child(2) {
	width: 1px;
	background: white;
	display: inline-block;
	height: 1.18rem;
}

.Login>span:nth-child(1) {
	margin-right: 1.3rem;
}
	
.Login>span:nth-child(3) {
	margin-left: 1.3rem;
}
	
.template>div:nth-child(2) {
	width: 100%;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	height: 2.64rem;
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: -0.25px;
 	display: flex;
	align-items: center;
	margin-top: 13rem;
}

.template>div:nth-child(2) span {
	margin-left: 3.5rem;
}

.can_bat {
	width: 100%;
	overflow: hidden;
	margin-top: 7.2rem;
}

.can_bat>p {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 2.8rem;
	height: 2.4rem;
	width: 100%;
	float: left;
}
			
.can_bat>p:nth-child(1) {
	background-image: url(/static/image/down_app.png);
}		
.can_bat>p:nth-child(2) {
	background-image: url(/static/image/find_building.png);
	margin-top: 1.8rem
}	
.can_bat>p:nth-child(3) {
	background-image: url(/static/image/property_apply.png);
	margin-top: 1.8rem;
}
.can_bat li{
	width: 83.1%;
	height: 1.5rem;
	float: left;
	margin-left: 50%;
	transform: translate(-50%);
	border-bottom: 1px solid white;
}
.template >p{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: -0.25px;
	text-align: center;
	padding-top: 2.32rem;
}