.depot-news-list {font-size: 14px;}
.depot-news-list a {color: #000;}
.depot-news-list .depot-col {margin-bottom: 15px;}
.depot-news-list .depot-col .items{border:1px #e7e7eb solid;border-radius: 4px;}
.depot-news-list .depot-col .item {border-top: 1px solid #e7e7eb;padding: 0 10px;position: relative;}
.depot-news-list .depot-col .item.active {border: 3px dotted orange !important;}
.depot-news-list .depot-col .item .title {overflow:hidden;font-size:1em;height:78px;line-height:78px;white-space:nowrap;width:70%;float:left;}
.depot-news-list .depot-col .item .cover {height: auto;width:30%;float:right;overflow: hidden;text-align:right;}
.depot-news-list .depot-col .item .cover img{width:78px;height:78px;}
.depot-news-list .depot-col .item .description{display:none;font-size:0.8em;word-wrap:break-word;word-break:break-all;color:#888;}

.depot-news-list .depot-col .item:first-child {border-top: 0 none;}
.depot-news-list .depot-col .item:first-child .title {float:none;font-size:16px;height:20px;line-height:20px;width:100%;}
.depot-news-list .depot-col .item:first-child .description {display:block;padding:10px 0;}
.depot-news-list .depot-col .item:first-child .cover {float:none;height:160px;width:100%;overflow: hidden;}
.depot-news-list .depot-col .item:first-child .cover img{width:100%;height: auto;}

.depot-news-list .depot-col.multi .item:first-child .title {
	position: absolute;bottom: 0px;left: 0px;right: 0px;height: 30px;width: auto;line-height:30px;padding: 0 10px;margin: 0;
	background: rgba(0, 0, 0, 0.6) !important;
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = '#99000000', endcolorstr = '#99000000');
}
.depot-news-list .depot-col.multi .item:first-child .title a {color: #fff;}
.depot-news-list .depot-col.multi .item:first-child .description {display: none;}
.depot-news-list .depot-col .options {border-top: 1px solid #e7e7eb;height:50px; line-height:50px;background-color:#f4f4f4;}
.depot-news-list .depot-col .options .tool{border-right: 1px solid #e7e7eb;}
.depot-news-list .depot-col .options .tool a{width:90%;margin: 0 auto;display: block;}
.depot-news-list .depot-col .options .tool:last-child{border-right: 0 none;}